<h1>Produtos em Tempo Real</h1>

<form id="productForm">
    <input type="text" name="title" placeholder="Nome do produto" required />
    <input type="number" name="price" placeholder="Preço" required />
    <button type="submit">Adicionar</button>
</form>

<ul id="productList">
    {{#each products}}
        <li>{{this.title}} - {{this.price}} <button onclick="deleteProduct('{{this.id}}')">Excluir</button></li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
